h1.heading {
	padding:0px;
	margin: 0px 0px 10px 0px;
	text-align:center;
	font: 18px Georgia, "Times New Roman", Times, serif;
}

/* width and height of google map */
#kanvas_map {
	width: 100%; 
	height: 680px;
	margin-top:0px;
	margin-left:auto;
	margin-right:auto;
}

/* Marker Edit form */
.marker-edit label {
	display:block;
	margin-bottom: 5px;
}
.marker-edit label span {
	width: 100px;
	float: left;
}
.marker-edit label input, .marker-edit label select {
	height: 24px;
}
.marker-edit label textarea {
	height: 60px;
}
.marker-edit label input, .marker-edit label select, .marker-edit label textarea {
	width: 60%;
	margin:0px;
	padding-left: 5px;
	border: 1px solid #DDD;
	border-radius: 3px;
}

/* Marker Info Window */
h1.marker-heading {
	color: #585858;
	margin: 0px;
	padding: 0px;
	font: 18px "Trebuchet MS", Arial;
	border-bottom: 1px dotted #D8D8D8;
}
div.marker-info-win p {
	padding: 0px;
	margin: 10px 0px 10px 0;
	width: 300px;
}
div.marker-inner-win {
	padding: 1	px;
}

button.save-marker, button.remove-marker, button.daftar-dokumen {
	border: 2px solid blue;
	background: #70B8FF;
	color: #FFFFFF;
	padding: 5px;
	text-decoration: none;
	margin-right: 5px;
	cursor: pointer;
}
button:hover {
	background: #5CADFF;
}
